@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


#btn_eliminar{
  color: white;
  background-color: #ec5960;
}


#btn_editar{
  color: white;
  background-color: #efb810;
}

#btn_guardar, #btn_mostrar{
  color: white;
  background-color: #148F77;
}

#btn_agregar{
  color: white;
  background-color: #2E86C1 ;
}